<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarr.android.healthylifestyle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/healthier_lifestyle"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <activity
            android:name="com.smarr.android.healthylifestyle.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.LogIn"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.UserInfoUpdate"
            android:label="@string/title_activity_user_info_update" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.UserStatus"
            android:label="@string/title_activity_user_status" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.Username_Password_Recovery"
            android:label="@string/title_activity_username__password__recovery" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.UserAgreements"
            android:label="@string/title_activity_user_agreements" >
        </activity>
       
    </application>

</manifest>
