<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarr.android.healthylifestyle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/healthier_lifestyle"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.LogIn"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.Registration"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.UserInfoUpdate"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_user_info_update" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.UserStatus"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_user_status" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.Username_Password_Recovery"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_username__password__recovery" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.UserAgreements"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_user_agreements" >
        </activity>
        <activity
            android:name="com.smarr.android.healthylifestyle.activity.UserPhoto"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_user_photo" >
        </activity>
    </application>

</manifest>
